body {
    background-color: #f6f5ef;
}

/* Bootstrap Fluid Containers */
.container-fluid {
    padding: 0px;
    margin: 0px;
}

.landing {
    padding: 50px 0px 0px 0px;
    max-width: 60%;
}

.landing-header {
    text-align: center;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.landing-header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #e15a46;
}

.landing-header h1 a {
    text-decoration: none;
    color: #e15a46;
}

.landing-header p {
    color: #444;
}

/* Container of search bar */
.searchbar-container {
    padding: 0;
    padding-bottom: 14px;
}

.searchbar, .num-results {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.num-results-container {
    display: flex;
    justify-content: center;
    height: 5vh;
}

.num-results {
    padding: 8px;
    width: 200px;
    background-color: #e15a46;
    border-radius: 8px;
}

/* Number of search results */
.num-results {
    color: #f6f5ef;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ui.form input[type="text"] {
    border: 0;
}

.results-container {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 0;
    height: 52vh;
}

.ui.cards {
    margin: 0;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

.ui.cards .card {
    margin-left: 0;
    margin-right: 10px;
    box-shadow: none;
}

.footer-container {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footer-link {
    text-decoration: none;
    color: lightslategrey;
    /* margin-right: 8px; */
    color: #e15a46;
}

.footer-link:hover {
    color: black;
}

.api {
    margin: 0;
}

/* Modal title and release year */
.header {
    margin-bottom: 0;
}

/* Modal title type (movie/tv) */
.meta {
    font-size: 14px;
    color: gray;
}

/* Modal title description */
.description {
    margin-bottom: 14px;
}

/* Modal close x button */
.modal-header .btn-close {
    margin-right: 4px;
}

/* streaming source item */
.source-item {
    display: inline-block;
    margin-right: 8px;
}

/* List of subscription sources */
.sub-sources-list {
    margin-bottom: 14px;
}

/* Container of modal content */
.title-content-container {
    display: flex;
}

/* Modal poster img */
.poster-img {
    height: 100%;
    width: 300px;
    object-fit: cover;
    border-radius: 0;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

/* Navigation bar */
.navbar {
    padding: 14px 0px 14px 0px;
    margin-bottom: 14px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

/* Navigation bar brand and links */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #444;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

/* Navigation bar brand hover */
.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover {
    color: black;
}

/* Navigation bar links hover */
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.navbar-light .navbar-brand {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -1px;
    font-weight: bold;
}
